<div class="row">

    <div class="col-12
">
        <div class="card">
            <div class="card-header">
                <h2>Lista de Clientes</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <a href="/Cliente/Cadastrar" class="btn btn-success">
                                Clientes
                        </a>
                    </div>
                    <div class="col-4">
                        <select name="Filtro" class="form-control">
                            <option value="0">Todas Opções</option>
                            <option value="id">Nome</option>
                            <option value="nome">Idade</option>
                            <option value="qtd">Telefone</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="text" name="busca" class="form-control" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary">
                            Pesquisar
                        </button>

                    </div>
                </div>

                <form action="/Cliente/Pesquisa" method="get">
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Idade</th>
                            <th>E-mail</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Felippe</td>
                            <td>23</td>
                            <td>felippe@5gmail.com</td>
                            <td>
                                <a href="/Produto/Editar/1" class="btn btn-warning">
                                    Editar
                                </a>
                                <a href="/Produto/Excluir/1" class="btn btn-danger">
                                    Excluir
                                </a>
                            </td>


                        </tr>

                        <tr>
                            <td>Maria</td>
                            <td>20</td>
                            <td>maria@gmail.com</td>
                            <td>
                                <a href="/Produto/Editar/2" class="btn btn-warning">
                                    Editar
                                </a>
                                <a href="/Produto/Excluir/2" class="btn btn-danger">
                                    Excluir
                                </a>
                            </td>


                        </tr>

                        <tr>
                            <td>Lucas</td>
                            <td>28</td>
                            <td>lucas2@hotmail.com</td>
                            <td>
                                <a href="/Cliente/Editar/3" class="btn btn-warning">
                                    Editar
                                </a>
                                <a href="/Cliente/Excluir/3" class="btn btn-danger">
                                    Excluir
                                </a>
                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-3">
            </div>
        </div>
