<h1>Tela de login</h1>

    <div class="container">
        <label for="uname"><b>Nome</b></label>
        <input type="text" placeholder="Digite o nome..."uname" required>

        <br />
        <br />

        <label for="psw"><b>Senha</b></label>
        <input type="text" placeholder="********" name="psw" required>

        <br />

        <button type="submit">Entrar</button>

    </div>
</>
</>