<h1>Minha Tela</h1>

<p>Essa é a action da minha tela</p>

<img src="https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3346195:1678829023/Naldo-Benny.jpg?f=default&$p$f=111d09d" />


<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>1</th>
            <th>Arthur</th>
            <th>23</th>

        </tr>

        <tr>
            <th>2</th>
            <th>Maria</th>
            <th>47</th>

        </tr>

        <tr>
            <th>3</th>
            <th>Julho</th>
            <th>25</th>

        </tr>


    </tbody>


</table>